﻿<h2>AuthorizeUser</h2>
<div class="panel">
    <div>
        <label>Input your email:</label>
        <input type="text" ng-model="_user.Email" name="tbEmail" value="" />
    </div>
    <div>
        <label>Input your password:</label>
        <input type="text" ng-model="_user.Password" name="tbPassword" value="" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" ng-click="authorize()" name="name" value="Submit" />
        <input class="btn btn-primary" type="submit" ng-click="changePassword()" name="name" value="Change password" />
        <input class="btn btn-primary" type="submit" ng-click="createNewUser()" name="name" value="Registration" />
    </div>
</div>
