﻿<div class="panel">
    <div class="panel-heading">
        <h3>Create new user</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>First Name:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="_user.FirstName" name="tbCategoryName" />
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="_user.LastName" name="tbCategoryName" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="_user.Email" name="tbCategoryName" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="_user.Password" name="tbCategoryName" />
        </div>
        <div class="form-group">
            <label>Key Question:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="_user.KeyQuestion" name="tbCategoryName" />
        </div>
        <div class="form-group">
            <label>Key Answer:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="_user.KeyAnswer" name="tbCategoryName" />
        </div>

        <div style="padding-left:500px">
            <input type="submit" name="tbSubmitCreateCategory" ng-click="createNewUser()" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</div>
