﻿<h2>RestorePasswordCheckEmailUser</h2>

<div class="panel">
    <div>
        <label>Input your email:</label>
        <input type="text" ng-model="_user.Email" name="tbEmail" value="" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" ng-click="CheckEmailForRestore()" name="name" value="Submit" />
    </div>
</div>