﻿<h2>Key Question</h2>

<div class="panel">
    <div>
        <label>Input answer on the question:</label>
        <div style="padding:10px">{{userFromDb.KeyQuestion}}</div>
    </div>
    <div>
        <label>Input your answer:</label>
        <input type="text" ng-model="_userAnswer.KeyAnswer" name="tbPassword" value="" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" ng-click="checkKeyQuestion()" name="name" value="Submit" />
    </div>
</div>