﻿<h2>RestorePasswordUser</h2>

<div class="panel">
    <div>
        <label>Your email:</label>
        <div style="padding:10px">{{_user.Email}}</div>
    </div>
    <div>
        <label>Input new password:</label>
        <input type="text" ng-model="_user.Password" name="tbPassword" value="" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" ng-click="restorePassword()" name="name" value="Submit" />
    </div>
</div>