﻿<div class="panel" ng-show="user != null" >
    <div class="panel-heading">
        <h3>Create new category</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Category Name:</label>
            <input style="margin-left: 15px;width:500px" type="text" ng-model="newCategory.Name" name="tbCategoryName" />
        </div>        
        <div style="padding-left:500px">
            <input type="submit" name="tbSubmitCreateCategory" ng-click="createNewCategory()" value="Submit" class="btn btn-primary" />
        </div>

    </div>
</div>
<div ng-show="user == null">
    <h3>This page is available only to registered users</h3>
</div>