﻿<!DOCTYPE html>
<html ng-app="blogApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page my blog</title>
</head>
<body>
    <div class="container">
        <div class="panel">
            <div class="panel-heading">
                <div  style="text-align:right" ng-controller="authorizeController">
                    <h5 ng-show="_user != null">UserName:{{_user.FirstName}}</h5>
                    <input type="button" class="btn btn-success" ng-show="_user == null"ng-click="logIn()" value="Log In" />
                    <input type="button" class="btn btn-success" ng-show="_user != null" ng-click="logOut()" value="Log Out" />
                </div>
            </div>
            <div class="panel panel-success col-md-3">
                <div ng-controller="categoryController">
                    <h2> Catigories: </h2>
                    <div ng-repeat="category in categories">
                        <input type="button" class="btn btn-primary btn-block btn-lg" ng-click="GetPostsByCategoryId(category.Id)" value="{{category.Name}}" />
                    </div>
                    <input type="button" class="btn btn-success btn-block btn-lg" ng-click="createCategory()" value="Create category" />
                </div>
            </div>
            <div ng-view class="panel panel-primary col-md-9">
            </div>
        </div>       
    </div>   
</body>
</html>

