﻿    <div class="panel" ng-show="user != null">
        <div class="panel-heading">
            <h3>Create new post</h3>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label>Post Title:</label>
                    <input style="margin-left: 15px;width:500px" type="text" ng-model="_post.Title" name="tbPostTitle"/>
                </div>
                <div class="form-group">
                    <label>Post Article:</label>
                    <textarea style="width:500px;height:300px" ng-model="_post.Article" name="tbPostTitle"></textarea>
                </div>
                <div style="padding-left:500px">
                    <input type="submit" name="tbSubmitCreateCategory" ng-click="createNewPost()" value="Submit" class="btn btn-primary" />
                </div>
                        
        </div>
    </div>
<div ng-show="user == null">
    <h3>This page is available only to registered users</h3>
</div>