﻿
<div>
    <h2> Catigory: {{categoryName}} </h2>
    <h3> All Posts: </h3>
    <div class="panel panel-primary" ng-repeat="post in posts">
        <div class="panel-heading">
            <h4>
                <a style="color:white" href="/#!/post/{{post.Id}}">{{post.Title}}</a>
            </h4>
        </div>
        <div style="padding:10px">{{post.Article}}</div>
        <div class="panel-footer"><div><b>Views:</b>{{post.Views}} <b>Author:</b>{{post.Author.LastName}} {{post.Author.FirstName}} <b>DatePublished:</b> {{post.DatePublished | date:'M/d/yyyy HH:mm:ss'}}</div></div>
    </div>
    <input type="button" class="btn btn-primary btn-block btn-lg" ng-click="CreatePost()" value="Create Post" />
</div>