﻿<div class="panel panel-primary">
    <div class="panel-heading">
        <div>
            <h4>
                {{post.Title}}
            </h4>
        </div>
    </div>
    <div style="padding:10px">{{post.Article}}</div>
    <div class="panel-footer"><div><b>Views:</b> {{post.Views}} <b>Author:</b>{{post.Author.LastName}}  {{post.Author.FirstName}} <b>DatePublished:</b>{{post.DatePublished}} </div></div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Comments</h3>
    </div>
    <div ng-repeat="comment in post.Comments">
        <div class="panel panel-success">
            <div style="padding:10px"><b>{{comment.CommentText}}</b></div>
            <div class="panel-footer"><div><b>User:</b> {{comment.User.LastName}} {{comment.User.FirstName}} <b>DateRecord:</b> {{comment.DateRecord}}</div></div>
        </div>
    </div>
</div>
    <div ng-show="user != null" class="panel panel-success">
        <div class="panel-heading">
            <h4>New comment</h4>
        </div>
        <textarea style="height:100px;width:500px" ng-model="_newComment.CommentText"></textarea>
        <input type="button" ng-click="CreateNewComment()" value="Post" />
    </div>
<div ng-show="user == null">
    <h3>To leave a comment you need to login</h3>
</div>

